.articles {
  display: flex;
  flex-wrap: wrap;

  .article {
    display: flex;
    flex-direction: column;
    width: calc(25% - 40px);
    margin: 10px 20px;
    background: aliceblue;
    text-align: center;

    img {
      height: 200px;
      object-fit: cover;
    }

    .title {
      margin: 0;
      padding: 15px 0;
    }
  }
}

ul.filter {
  margin-left: 20px;
  padding-inline-start: 0;

  form {
    display: inline;

    ul.tabs {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: auto;

      li {
        float: left;
        padding: 10px;
        background-color: #44aacc;

        input[type="radio"] {
          display: inline;
          visibility:hidden
        }

        label {
          margin-left: -14px;
          color: white;
          line-height: 20px;
          text-decoration: none;
        }
      }

      li:hover {
        cursor: pointer;
        background-color: #4182a4;
      }

      li.selected {
        background-color: #3d607f;
      }
    }
  }

  input.searchbar {
    display: inline;
    margin-top: 10px;
    height: 40px;
  }

  span.errors {
    display: inline;
    font-weight: bold;
    color: #880000;
  }

  button.submit {
    height: 40px;
  }
}
