<div id="app">
    <ul class="filter">
        <form @submit="validateForm">
            <ul class="tabs">
                <li v-for="userId in users" :class="{ selected: userId == filter.userId}">
                    <input
                        :id="'user' + userId"
                        type="radio"
                        name="userId"
                        :value="userId"
                        v-model="filter.userId"
                        @change="$event.target.form.submit()"
                    />
                    <label :for="'user' + userId">User {{ userId }}</label>
                </li>
            </ul>

            <input class="searchbar" type="text" name="title" v-model="filter.title" />

            <button class="submit" type="submit">Search</button>
        </form>

        <span class="errors" v-if="errors.length">
            <b v-for="error in errors">{{ error }}</b>
        </span>
    </ul>

    <div class="articles">
        <x-article v-for="article in articles"
            :key="article.id"
            :title="article.title"
            :img-url="article.imgUrl"
        ></x-article>
    </div>

</div>

<template id="article-template">
    <div class="article">
        <img class="preview" :src="imgUrl" />
        <span class="title">{{ title }}</span>
    </div>
</template>

